{% extends "layout.html" %}
{% import "_macros.html" as datos_macro %}
{% block container %}
    <h1> Calculo </h1>
    <form action="" method="post">
            {{datos_macro.datos('numero1','ingrese el numero 1')}}
            {{datos_macro.datos('numero2','ingrese el numero 2')}}
        <div class="mb-3">
            <label for="operacion" class="form-label">Operacion</label>
            <select class="form-select" id="operacion" name="operacion">
                <option value="suma">Suma</option>
                <option value="resta">Suma</option>
                <option value="multiplicación">multiplicación</option>
                <option value="suma">Division</option>
            </select>
        </div>

        <button type>



    </form>

{% endblock %}